<ul class="list-group">
  <button type="button" class="btn btn-outline-info" 
    routerLink="/products" 
    [class]="getAllCategoryClass()" >Tüm Ürünler</button>
  <button type="button" class="btn btn-outline-info" 
    (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{category.categoryId}}" 
    *ngFor="let category of categories" 
    [class]="getCurrentCategoryClass(category)" >{{category.categoryName}}</button>
</ul>

<h5 *ngIf="currentCategory">{{currentCategory.categoryName}}</h5>
